{% extends 'base.html' %}

{% block title %}Todo App{% endblock title %}

{% block content %}
<!-- Todo list section -->
    <a class="btn btn-secondary btn-lg btn-block" href="{% url 'todo_create' %}">Add Tasks</a>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    <br></br>
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->
            {% for i in object_list %}
                <h2>{{ i.task }} <span class="badge badge-pill badge-secondary">Due by {{ i.due_time }}</span></h2>
                <a class="btn btn-primary btn-lg" href="{% url 'todo_delete' i.pk %}" role="button">Delete</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}


